.vonexta-table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6 !important;
}

.vonexta-services-add-btn {
    margin-top: 30px;
}

.newParam {
    width: 100%;
    display: flex;
}

.vonexta-modal-footer {
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.vonexta-nav {
    margin-bottom: 1rem !important;
    background-color: #fff;
    border-bottom: 1px solid #33414E;
}

.vonext-campaign-item {
    /* width: 25%; */
    margin: 0 5px;
}

.vonext-campaign-item:first-child {
    margin-left: 0;
}

.vonexta-nav .nav-link {
    margin-bottom: -1px;
    border-radius: 8px 8px 0 0;
    background: #e0e0e0;
    color: #adadad !important;
    text-align: center;
    padding: 10px 40px;
    border: 1px solid #cecece;
    border-bottom: none;
}

.vonexta-nav .nav-link.active {
    background: #33414E;
    color: #fff !important;
    border-color: #33414E;
}

.bootstrap-switch-container {
    width: 127px !important;
}

.contentbox-wrap {
    position: relative;
}

.contentbox-wrap .img-wrapper {
    width: 60px;
    padding: 15px;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    margin-right: 0;
    border-radius: 50%;
    height: 60px;
    background: rgba(10, 150, 200, 0.6);
    margin: 0 0 15px 0;
}

.contentbox-wrap .img-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    filter: invert(1);
}

.contentbox-wrap h5,
.contentbox-wrap .dropdown button {
    color: #fff !important;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.contentbox-wrap .dropdown,
.contentbox-wrap .dropdown-menu.show {
    z-index: 999;
}

.contentbox-wrap .dropdown-menu {
    height: 200px;
    overflow: auto;
}

.contentbox-wrap .dropdown button {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 0;
    margin: 0 0 15px 0 !important;
}

.contentbox-wrap p {
    font-size: 15px;
    color: #b6b6b6;
}

.contentbox-wrap .overlaylink {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.contentbox-wrap .dropdown-menu::-webkit-scrollbar {
    width: 10px;
}

.contentbox-wrap .dropdown-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.contentbox-wrap .dropdown-menu::-webkit-scrollbar-thumb {
    background: #0a96ca;
}

.homecontent-wrap {
    min-height: 100vh;
    background: #343a40;
}

.homeheader-wrap {
    padding: 30px 50px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.homeheader-wrap .homelogo a {
    position: relative;
    left: -50px;
}

.homeheader-wrap .dropdown>button {
    background: none !important;
    border: none;
    padding: 0;
}

.homeheader-wrap .dropdown .dropdown-menu {
    left: auto !important;
    right: 0 !important;
    width: 100%;
    transform: inherit !important;
    will-change: unset !important;
    top: 15px !important;
}

.homecontent {
    padding: 80px 0 0 0;
}

.homecontent .homelogo img {
    display: block;
    margin: 0 auto;
}

.homecontent .contentbox-wrap {
    background: rgba(78, 86, 94, 0.5);
    border: 1px solid #5c5c5c;
    border-radius: 5px;
    padding: 30px;
    min-height: 235px;
}

.homecontent .inner {
    position: relative;
}

.homecontent .inner i {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 20px;
    color: #00acec;
}

#call-log .select2-search__field {
    display: none !important;
}

.navbar-dark {
    background: #33414E !important;
}

[class*=sidebar-dark-] {
    background-color: #33414E !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F0F4F9 !important;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #F8FAFC !important;
}

.table-striped tbody tr:hover {
    background-color: #D7DBE0 !important;
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.nav-sidebar>.nav-item {
    font-size: 14px !important;
}

.user-panel .info a {
    font-size: 14px !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #444;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active {
    background-color: #46525e !important;
    color: #fff !important;
}

.content-header h1 {
    font-size: 24px;
}

.content-header .breadcrumb li {
    font-size: 12px;
}

table.dataTable>thead>tr>th {
    font-size: 14px;
    color: #888;
}

table.dataTable>tbody>tr>td {
    font-size: 14px;
    color: #000000AA !important;
}

.table td,
.table th {
    vertical-align: middle !important;
}

body{
    color: #000000AA !important;
}

.text-danger {
    color: #dc3545DD !important;
}

.text-success {
    color: #28a745EE !important;
}

.sidebar{
    padding: 0;
}

.sidebar .user-panel:last-child{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.sidebar > nav{
    height: 77vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
}

.main-sidebar{
    overflow-y: inherit !important;
}

.nav-tabs .nav-item{
    margin-bottom: 1px !important;
}

.sidebar > nav::-webkit-scrollbar {
    width: 10px;
  }
  
  .sidebar > nav::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  .sidebar > nav::-webkit-scrollbar-thumb {
    background: #888; 
  }

  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #33414E !important;
    border-color: #33414E !important;
}
.btn-primary{
    background-color: #33414E !important;
    border-color: #33414E !important;

}
ol>li>a{
    color: #33414E !important;;
}

.page-item.active .page-link {
    background-color: #33414E;
    border-color: #33414E;
}

.page-link{
    color: #33414E;
}

select option:focus {
    background-color: #33414E; /* Change this to your desired background color */
}