.vonexta-table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6 !important;
}

.vonexta-services-add-btn{
    margin-top: 30px;
}

.newParam{
    width: 100%;
    display: flex;
}
.vonexta-modal-footer {
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.vonexta-nav{
    margin-bottom: 1rem !important;
    background-color: #fff;
    border-bottom: 2px solid #0c94c8;
}

.vonext-campaign-item{
    /* width: 25%; */
    margin: 0 5px;
}

.vonext-campaign-item:first-child{
    margin-left: 0;
}

.vonexta-nav .nav-link {
    margin-bottom: -1px;
    border-radius: 8px 8px 0 0;
    background: #e0e0e0;
    color: #adadad !important;
    text-align: center;
    padding: 10px 40px;
    border: 1px solid #cecece;
    border-bottom: none;
}

.vonexta-nav .nav-link.active{
    background: #0a95ca;
    color: #fff !important;
    border-color: #0a95ca;
}

.bootstrap-switch-container{
    width: 127px !important;
}

.contentbox-wrap{
    position: relative;
}
.contentbox-wrap .img-wrapper{
    width: 18%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 15px;
}
.contentbox-wrap .img-wrapper img{
    display: block;
    width: 100%;
    height: auto;
}
.contentbox-wrap h5,
.contentbox-wrap .dropdown button{
    color: #0a96ca !important;
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 5px 0;
}
.contentbox-wrap .dropdown,
.contentbox-wrap .dropdown-menu.show{
    z-index: 999;
}
.contentbox-wrap .dropdown-menu{
    height: 200px;
    overflow: auto;
}
.contentbox-wrap .dropdown button{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 0;
    margin: 10px 0 0 0 !important;
}
.contentbox-wrap p{
    font-size: 15px;
    color: #8b8989;
}
.contentbox-wrap .overlaylink{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.contentbox-wrap .dropdown-menu::-webkit-scrollbar {
    width: 10px;
  }
  
  .contentbox-wrap .dropdown-menu::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  .contentbox-wrap .dropdown-menu::-webkit-scrollbar-thumb {
    background: #0a96ca; 
  }

