.vonexta-table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6 !important;
}

.vonexta-services-add-btn{
    margin-top: 30px;
}

.newParam{
    width: 100%;
    display: flex;
}
.vonexta-modal-footer {
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.vonexta-nav{
    margin-bottom: 1rem !important;
    background-color: #fff;
    border-bottom: 2px solid #0c94c8;
}

.vonext-campaign-item{
    /* width: 25%; */
    margin: 0 5px;
}

.vonext-campaign-item:first-child{
    margin-left: 0;
}

.vonexta-nav .nav-link {
    margin-bottom: -1px;
    border-radius: 8px 8px 0 0;
    background: #e0e0e0;
    color: #adadad !important;
    text-align: center;
    padding: 10px 40px;
    border: 1px solid #cecece;
    border-bottom: none;
}

.vonexta-nav .nav-link.active{
    background: #0a95ca;
    color: #fff !important;
    border-color: #0a95ca;
}

.bootstrap-switch-container{
    width: 127px !important;
}
